Com.Kana.Service.Upload.Lib/bin
Com.Kana.Service.Upload.Lib/obj
Com.Kana.Service.Upload.WebApi/bin
Com.Kana.Service.Upload.WebApi/obj
Com.Kana.Service.Upload.WebApi/appsettings.json
Com.Kana.Service.Upload.WebApi/Properties/launchSettings.json
